<div class="content-container">

  <div class="mobile-container">
    <h1>Yesca</h1>
    <h2>Highest Quality Cannabis Products Coming Summer 2018</h2>
    <!-- <div class="navbar">
      <%= image_tag("yesca-title.svg", alt: "yesca", class: "yesca-title")%>
    </div> -->
    <%= image_tag("animation.gif", alt: "green and blue gradient", class: "gradient")%>

    <p class="tag-line">
      <span class="xs-display-none">Hightest </span>Quality Cannabis Products
    </p>
    <p class="i">
      Coming Summer 2018
    </p>
  </div>

  <div class="product-container">
      <h3>
        About
      </h3>
      <p>
        We specialize in bringing you the highest quality in Canadian cannabis products.
        Created with care and a meticulous attention to detail, our collection is 100%
        natural and is designed with you and your lifestyle in mind.
      </p>
      <div class="product">
        <div class="img-wrap">
          <%= image_tag("yesca-oils.png", alt: "yesca cannabis oils", class: "oils")%>
          <div class="label">
            <p>CBD Oil</p>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="img-wrap">
          <%= image_tag("yesca-pre-roll.png", alt: "yesca cannabis pre roll", class: "pre-roll")%>
          <div class="label">
            <p>Pre-Rolls</p>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="img-wrap">
          <%= image_tag("yesca-dried-flower.png", alt: "yesca cannabis dried flower", class: "dried-flower")%>
        <div class="label">
          <p>Dried Flower</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="subscribe-container">
  <div class="subcribe">
    <h3>Subcribe</h3>
    <p>
    Sign up with your email address to
      <br/>
    receive news and updates.
    </p>
    <button class="sign-up" type="button" name="sign-up">Sign Up</button>
  </div>
  <div class="pop-up not-active">
    <div class="close">
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 14.1 14" style="enable-background:new 0 0 14.1 14;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:none;stroke:#ffffff;}
      </style>
      <line class="st0" x1="0.5" y1="0.4" x2="13.8" y2="13.6"/>
      <line class="st0" x1="13.6" y1="0.4" x2="0.4" y2="13.6"/>
      </svg>
    </div>

    <h6 id="input-msg">Please Enter Your Information</h6>
    <h6 id="input-feedback"></h6>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="" method="POST" target="no-target" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

    <div class="mc-field-group">
    	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
      <p class="label">First Name</p>
    </div>
    <div class="mc-field-group">
    	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
      <p class="label">Last Name</p>
    </div>
    <div class="mc-field-group">
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <p class="label">Email Address</p>
    </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1cfd5b830ad002fc8c77bda19_e2621b050f" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

<!--End mc_embed_signup-->

    <div class="disclaimer">
      <p>
        Yesca would like to keep you up to date with what we’re doing.
        By entering your information, you will recieve electronic communications,
        including without limitation to newsletters, reports, press releases,
        and invitations to or notices of events, from us. You can withdraw your consent at any time by contacting us at: 55 Bruce Crescent, Carleton Place,
        Ontario K7C 3T3, info@yescasupply.com
      </p>
    </div>
  </div>
</div>

<div class="content-container">
  <footer>
    <div>
      <div class="contact">
        <h3>CONTACT</h3>
        <p>
          55 Bruce Crescent, Carleton Place, ON K7C 3T3
        </p>
        <p>
          <a href="#">info@yescasupply.com</a>
        </p>
      </div>
      <div class="social">
        <h3>SOCIAL</h3>
        <p>
          Follow us on Social Media
        </p>
        <p>
          <a href="#">Instagram /</a>
          <a href="#">Twitter / </a>
          <a href="#">Facebook /</a>
          <a href="#">Slack</a>
        </p>
      </div>
    </div>
    <div class="copy-right">
      <p>Copyright YESCA 2018</p>
    </div>
  </footer>
  <iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>
</div>
