<!DOCTYPE html>
<html>
  <head>
    <title>Yesca Cannabis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#ffff00" />
  </head>

  <body>
    <div class="navbar">
      <%= image_tag("yesca-title.svg", alt: "yesca", class: "yesca-title")%>
      <p>Supply</p>
    </div>
    <%= yield %>
  </body>
</html>
